.pre{
    background-color: rgb(96, 230, 96);
    

    
}
.a{
    font-size: 1rem;
}
button{
    padding: 0;
    margin-top: 0;
    margin-left: 1rem;
    color: rgb(11, 11, 11);
}
.SIZE{
    font-size: 2REM;
}
